.manga-speed-lines {
  position: absolute;
  width: 150px;
  height: 150px;
  color: var(--color-text-primary);
  opacity: 0.2;
  pointer-events: none;
  z-index: 1;
}

.manga-speed-lines-top-right {
  top: -50px;
  right: -50px;
  transform: rotate(45deg);
}

.manga-speed-lines-bottom-left {
  bottom: -50px;
  left: -50px;
  transform: rotate(-45deg);
}

.manga-speed-lines-top-left {
  top: -50px;
  left: -50px;
  transform: rotate(-45deg);
}

.manga-speed-lines-bottom-right {
  bottom: -50px;
  right: -50px;
  transform: rotate(45deg);
}

.manga-dots {
  position: absolute;
  width: 100px;
  height: 100px;
  pointer-events: none;
  z-index: 1;
}

.manga-dots-top-right {
  top: 20px;
  right: 20px;
}

.manga-dots-bottom-left {
  bottom: 20px;
  left: 20px;
}

.dot-pattern {
  width: 100%;
  height: 100%;
  background-image: 
    radial-gradient(circle, rgba(0, 0, 0, 0.3) 2px, transparent 2px);
  background-size: 12px 12px;
  opacity: 0.4;
}

.manga-impact {
  position: absolute;
  width: 80px;
  height: 80px;
  color: var(--color-text-primary);
  opacity: 0.3;
  pointer-events: none;
  z-index: 1;
}

.manga-impact-top-right {
  top: 10px;
  right: 10px;
}

.manga-impact-bottom-left {
  bottom: 10px;
  left: 10px;
}
