.manga-sprite {
  display: inline-block;
  width: 48px;
  height: 48px;
  color: var(--color-text-primary);
  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.3));
  opacity: 0.9;
}

.manga-svg {
  width: 100%;
  height: 100%;
}
